body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.container {
    width: 300px;
    margin: auto;
}

#app h1 {
    font-size: 32px;
    border-bottom: 1px solid orange;
    padding: 16px 0;
}

#app li {
    line-height: 1.5;
}

#app input[type="text"]{
    padding: 3px;
}

.command {
    font-size: 12px;
    cursor: pointer;
    color: lightskyblue;
}